<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/restaurants/new">New Restaurant</a>
    <a href="/restaurants">All Restaurants</a>


  </body>
</html>
